@import 'sass/materialize.scss';
@import 'components/banner/banner.scss';
@import 'css/font-awesome/css/font-awesome.min.css';
@font-face {
    font-family: 'janglywalk';
    src: url('font/janglywalk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: janglywalk, GillSans, Calibri, Trebuchet, sans-serif;
    // color: color("gator-green", "swamp");
}

nav {
    ul {
        li {
            text-transform: uppercase;
        }
    }
}

.brand-logo > img {
       width: 10rem;
}
@media #{$medium-and-down} {
    .brand-logo {
        h1 {
           font-size: 3rem;
           margin: 9px 0;
        }
    }
  }

body {
    // background-color: #ccc;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    // background-color: $primary-color;
}

main.container {
    background-color: #FFFFFF;
    margin-top: 5rem;
    flex: 1 0 auto;
    .divider-line {
        overflow: hidden;
        &:before {
            content: "";
            vertical-align: middle;
            display: inline-block;
            width: 50%;
            border-top: 3px solid gray;
            margin: 0 1rem 0 -55%;
        }
        &:after {
            content: "";
            vertical-align: middle;
            display: inline-block;
            width: 50%;
            border-top: 3px solid gray;
            margin: 0 -55% 0 1rem;
        }
    }
    .about {
        &__image {
            float: left;
            max-width: 30rem;
            margin-right: 2rem;
        }
    }
    .menu {
        // border-radius:5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        .collapsible{
            margin-top: 0;
            border: none;
            li:last-child {
                .collapsible-header {
                    border-bottom: none;
                }
            }
            &-header {
                background:$background-chalkboard;
                height: 8rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-right: 0;
                h3 {
                    color: $color-gold;
                    margin: 0;
                }
                &__image {
                    display: block;
                    position: relative;
                    height: 100%;
                    overflow: hidden;
                    margin: 0;
                    width: 55%;
                    &:after {
                        content:"";
                        display: block;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        width: 100%;
                        max-width: 1000px;
                        margin: 0 auto;
                        /* you need to match the shadow color to your background or image border for the desired effect*/
                        box-shadow: 0 0 8px 8px #202020 inset;
                    }
                    img {
                        width: 100%;
                        height: 115px;
                        object-fit: cover;
                    }
                }
            }
            
        }
        
        &__section {
            background:$background-chalkboard;
            color: #FFFFFF;
            padding: .5rem .5rem 0 .5rem;
            border-buttom: none; 
            h3 {
                
            }
            h4 {
                color: $color-gold;
            }
            .food__list {
                display: flex;
                flex-wrap: wrap;
                .food__item {
                    p {
                        padding: 0;
                    }
                    @include rowMachine(2,
                    4%);
                }
            }
        }
    }
    .flexible-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }
    .flexible-container iframe,
    .flexible-container object,
    .flexible-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}