@font-face {
    font-family: 'janglywalk';
    src: url('fonts/janglywalk.eot');
    src: url('fonts/janglywalk.eot?#iefix') format('embedded-opentype'),
         url('fonts/janglywalk.woff') format('woff'),
         url('fonts/janglywalk.ttf') format('truetype'),
         url('fonts/janglywalk.svg#janglywalk') format('svg');
    font-weight: normal;
    font-style: normal;
}